@font-face {font-family: "svgIconfont";
  src: url('svgIconfont.eot?t=1644390917249'); /* IE9*/
  src: url('svgIconfont.eot?t=1644390917249#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svgIconfont.woff2?t=1644390917249") format("woff2"),
  url("svgIconfont.woff?t=1644390917249") format("woff"),
  url('svgIconfont.ttf?t=1644390917249') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svgIconfont.svg?t=1644390917249#svgIconfont') format('svg'); /* iOS 4.1- */
}

[class^="svgIconfont-"], [class*=" svgIconfont-"] {
  font-family: 'svgIconfont' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svgIconfont-health:before { content: "\ea01"; }
.svgIconfont-lung:before { content: "\ea02"; }
.svgIconfont-washhand:before { content: "\ea03"; }

$svgIconfont-health: "\ea01";
$svgIconfont-lung: "\ea02";
$svgIconfont-washhand: "\ea03";

